.just-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    white-space: nowrap;
    pointer-events: none;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }

    .just-modal-backdrop,
    .just-modal-content {
        pointer-events: all;
        z-index: 500;
        opacity: 0;
        visibility: hidden;

        transition: .3s ease-out;
        transition-property: opacity, visibility, transform;
    }

    .just-modal-backdrop {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.6);
    }

    .just-modal-content {
        position: relative;
        display: inline-block;
        width: 600px;
        vertical-align: middle;
        background: #e1e1e1;

        transform: scale(0.9);

        .close {
            position: absolute;
            display: block;
            top: 0px;
            right: 10px;
            font-size: 30px;
            text-decoration: none;
            color: #000;
        }
    }

    &.active {
        .just-modal-content,
        .just-modal-backdrop {
            opacity: 1;
            visibility: visible;
        }

        .just-modal-content {
            transition-delay: .2s;
            transform: scale(1);
        }
    }
}
